<div data-ng-controller="PostsCtrl">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<!-- Button = for mobile button collapse -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-main-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
				</button>
				<a href="#!/" class="navbar-brand">Trip to Beat</a>
			</div>
			
		</div>
	</nav>

	<section class="container">
		<br>
		<br>
		<h1>New Post</h1>

		<form class="form-signin" data-ng-submit="create()" novalidate>
			
			<div>
				<label for="author" class="sr-only">Your Name</label>
				<div>
					<input type="text" class="form-control" data-ng-model="author" id="author" placeholder="Name" required autofocus>
				</div>
			</div>

			<div>
				<label for="title" class="sr-only">Title</label>
				<div>
					<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title of your story" required>
				</div>
			</div>

			<div>
				<label for="description" class="sr-only">Description</label>
				<div>
					<textarea class="form-control" data-ng-model="description" id="description" cols="30" rows="10" placeholder="Describe your story here.."></textarea>
				</div>
			</div>
			
			<div>
				<button type="submit" class="btn btn-default btn-sm">Submit</button>
			</div>
			
			<div data-ng-show="error">
				<strong data-ng-bind="error"></strong>
			</div>

		</form>

	</section>

</div>